:root {
  --branding-color: #fa8072;
  --secondary-color: #fff9f8;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: #000;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 68px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

img {
  margin-top: 140px;
}

nav {
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav a {
  color: #272142;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
  color: #777777;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
}

.content h3 {
  font-size: 32px;
  font-weight: bold;
}

.content p {
  font-size: 22px;
  line-height: 38px;
}

.content {
  margin: 30px;
}

.content-container img {
  margin-top: 20px;
}

.btn-branding {
  font-size: 18px;
  line-height: 27px;
  background-color: var(--branding-color);
  color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  text-decoration: underline;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 10px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: #fff;
  text-decoration: underline;
}

.project-discription {
  padding: 120px 60px;
}

.service-title {
  background-color: var(--branding-color);
  margin: 140px 0 40px 0;
}

.price-details {
  border: 1px solid var(--branding-color);
  border-radius: 6px;
  margin: 40px 30px;
  padding: 80px 20px;
}

.price-details h3 {
  font-size: 58px;
}

.price-details h4 {
  font-size: 38px;
}

.contact-details {
  margin-top: 100px;
}

.contact-info {
  color: #000;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.contact-info:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.logo {
  max-height: 40px;
  margin: 0;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

footer .email-link:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

footer .social-links a {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  margin: 30px;
  padding: 15px 20px;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 38px;
    line-height: 1.5;
  }

  h2 {
    font-size: 42px;
  }

  nav li {
    margin-left: 10px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    line-height: 2;
  }

  .content h3 {
    font-size: 22px;
  }

  .service-title {
    margin-top: 60px;
  }

  .price-details h3 {
    font-size: 28px;
  }

  .price-details h4 {
    font-size: 16px;
  }

  .price-details p {
    font-size: 16px;
  }

  .price-details a {
    font-size: 12px;
  }

  .price-details {
    padding: 30px 40px;
  }

  .project-discription {
    text-align: center;
    padding: 40px;
  }

  .content-container {
    text-align: center;
    padding: 40px;
  }

  .content-container h1 {
    font-size: 52px;
    line-height: 60px;
  }
}
